@model IEnumerable<PayForMe1._1.Models.Order>

@{
    ViewData["Title"] = "Index";
    decimal debts = 0;
    decimal orders = 0;
    decimal cost = 0;
    decimal tax = 0;
    decimal total = 0;
    decimal debt = 0;
    foreach (var item in Model)
    {
        orders += 1;
        cost += item.Cost;
        tax += item.Tax;
        total += item.Total;

        if (item.IsDebt == true)
        {
            debts += 1;
            debt += item.Total;
        }

    }
}
<table id="datatablesSimple" class="dataTable-table">
    <thead>
        <tr>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"> # Orders </a>
            </th>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"># Debts</a>
            </th>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"> Top User </a>
            </th>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"> Top Service </a>
            </th>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"> Total Cost </a>
            </th>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"> Total Tax</a>
            </th>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"> # Total </a>
            </th>
            <th data-sortable="">
                <a href="#" class="dataTable-sorter"> Total Debts </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"> @Model.Count() </td>
            <td scope="row"><a class="text-danger" asp-action="UnpaidOrders">@debts</a></td>
            <td> Top User </td>
            <td> Top Service </td>
            <td>@cost</td>
            <td class="text-primary">@tax</td>
            <td>@total</td>
            <td> <a class="text-danger" asp-action="UnpaidOrders">@debt</a></td>
        </tr>
    </tbody>
</table>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        All Orders DataTable | <a asp-controller="Orders"asp-action="Create">New Order</a>
    </div>
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-top">
                <div class="dataTable-dropdown">
                    <label>
                        <select class="dataTable-selector">
                            <option value="5">5</option>
                            <option value="10" selected="">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                        entries per page
                    </label>
                </div>
                <div class="dataTable-search">
                    <input class="dataTable-input" placeholder="Search..." type="text">
                </div>
            </div>
            <div class="dataTable-container">
                <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                        <tr>
                            <th data-sortable="">
                                @Html.ActionLink("Order Id", "OrdersIndex", new{ @class="dataTable-sorter", sortField="OrderId", currentSortField=ViewBag.SortField, sortDirection=ViewBag.SortDirection})
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">User Name</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Service Number</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Service Name</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Cost</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Tax</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Total</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Order Date</a>
                            </th>
                            <th data-sortable="" @* style="width: 13.1206%;"*@>
                                <a href="#" class="dataTable-sorter">...</</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var status = "";
                            var ServiceNumber = item.PhoneNumber;
                            var service = "";

                            if (item.LastService != null)
                            {
                                service = item.LastService.LastServiceName;
                            }
                            else
                            {
                                if (item.MiddleService != null)
                                {
                                    service = item.MiddleService.MiddleServiceName;
                                }
                                else
                                {
                                    if (item.MainService != null)
                                    {
                                        service = item.MainService.MainServiceName;
                                    }
                                    else
                                    {
                                        service = "غير موجود";
                                    }
                                }
                            }
                            if (item.PhoneNumber == null)
                                ServiceNumber = item.LandLineNumber;
                            if (item.IsDebt == true)
                            {
                                status = "danger";
                            }
                            <tr class="table-@status">
                                <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
                                <td>
                                    <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId">
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    </a>
                                </td>
                                <td>@ServiceNumber</td>
                                <td>@service</td>
                                <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tax)</td>
                                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                <td>
                                    <a asp-controller="Orders" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                                    <a asp-controller="Orders" asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                                    <a asp-controller="Orders" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="dataTable-bottom">
                <div class="dataTable-info">
                    Showing 1 to 10 of 57 entries
                </div>
                <nav class="dataTable-pagination">
                    <ul class="dataTable-pagination-list">
                        <li class="active">
                            <a href="#" data-page="1">1</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="2">2</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="3">3</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="4">4</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="5">5</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="6">6</a>
                        </li>
                        <li class="pager">
                            <a href="#" data-page="2">›</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
