@model IEnumerable<PayForMe1._1.Models.Order>

@{
    ViewData["Title"] = "Home Page";
    List<Order> TodayordersList = new List<Order>();
    List<Order> PaidordersList = new List<Order>();
    List<Order> UnPaidordersList = new List<Order>();
    decimal totalTax = 0;
    decimal todayTax = 0;
    foreach (var order in Model)
    {
        if (order != null)
        {
            var datetoday = DateTime.Today;
            var orderdate = order.OrderDate.ToString();
            if (orderdate != null && orderdate.Contains(datetoday.Month + "/" + datetoday.Day + "/" + datetoday.Year))
            {
                TodayordersList.Add(order);
                todayTax += order.Tax;
            }
            if(order.IsDebt==true){
                UnPaidordersList.Add(order);
            }else{
                PaidordersList.Add(order);
            }
            totalTax += order.Tax;
        }
    }
}
<br />
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Users</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-controller="Users" asp-action="Create">New</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">@totalTax Total Tax</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link"
                   asp-controller="Orders"
                   asp-action="Create">
                    @todayTax Today Tax
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">@Model.Count() Orders </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link"
                    asp-controller="Orders" 
                    asp-action="Create">
                    @TodayordersList.Count() New Order Today
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">@UnPaidordersList.Count() Unpaid Orders</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link"
                   asp-controller="Orders"
                   asp-action="UnpaidOrders">
                    Show
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Orders Today
    </div>
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-top">
                <div class="dataTable-dropdown">
                    <label>
                        <select class="dataTable-selector">
                            <option value="5">5</option>
                            <option value="10" selected="">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                        Orders per page
                    </label>
                </div>
                <div class="dataTable-search">
                    <input class="dataTable-input" placeholder="Search..." type="text">
                </div>
            </div>
            <div class="dataTable-container">
                <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                        <tr>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter"> # </a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">User Name</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Number</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Service</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Total</a>
                            </th>
                            <th data-sortable="">
                                <a href="#" class="dataTable-sorter">Order Date</a>
                            </th>
                            <th data-sortable="" @* style="width: 13.1206%;"*@>
                                <a href="#" class="dataTable-sorter">...</</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                            if (TodayordersList.Count() != 0)
                            {
                                foreach (var item in TodayordersList)
                                {
                                    var status = "";
                                    var ServiceNumber = item.PhoneNumber;
                                    var service = "";
                                    if (item.LastService != null){
                                        service = item.LastService.LastServiceName;
                                    }else{
                                        if(item.MiddleService != null){
                                            service = item.MiddleService.MiddleServiceName;
                                        }else{
                                            if (item.MainService != null){
                                                service = item.MainService.MainServiceName;
                                            }else{
                                                service = "غير موجود";
                                            }
                                        }
                                    }
                                    if (item.PhoneNumber == null)
                                        ServiceNumber = item.LandLineNumber;
                                    if (item.IsDebt == true)
                                    {
                                        status = "danger";
                                    }
                                    <tr class="table-@status">
                                        <td>@count</td>
                                        <td>
                                            <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId">
                                                @Html.DisplayFor(modelItem => item.User.UserName)
                                            </a>
                                        </td>
                                        <td>@ServiceNumber</td>
                                        <td>@service</td>
                                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                        <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                        <td>
                                            <a asp-controller="Orders" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                                            <a asp-controller="Orders" asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                                            <a asp-controller="Orders" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="10">No Orders Today @DateTime.Now <a asp-controller="Orders" asp-action="Create">Add New!</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="dataTable-bottom">
                <div class="dataTable-info">
                    Showing 1 to 10 of 57 entries
                </div>
                <nav class="dataTable-pagination">
                    <ul class="dataTable-pagination-list">
                        <li class="active">
                            <a href="#" data-page="1">1</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="2">2</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="3">3</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="4">4</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="5">5</a>
                        </li>
                        <li class="">
                            <a href="#" data-page="6">6</a>
                        </li>
                        <li class="pager">
                            <a href="#" data-page="2">›</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Area Chart Example
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Bar Chart Example
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100" height="40"></canvas></div>
        </div>
    </div>
</div>